

[data-schemapath='root.starting_ammo'] div.je-panel {
    display: inline-block;
}




/* ############################################################################## */
/* ########################## --- Body part schema --- ########################## */
/* ############################################################################## */
[data-schemapath='root.hit_size_relative'] div.je-panel {
    display: inline-block;
}
[data-schemapath='root.hit_size_relative'] div.je-panel, td, p {
  margin: 1px !important;
  padding: 1px !important;
}
[data-schemapath='root.hit_size_relative'] .form-group {
  margin: 0;
}
[data-schemapath='root.hit_size_relative'] table {
    overflow: visible !important;
}
[data-schemapath='root.hit_size_relative'] .btn-group:empty, .form-group + div:empty {
  display: none;
}
[data-schemapath='root.hit_size_relative'] tr h4, th {
  display: none;
}


/* ############################################################################### */
/* ########################## --- Comestible schema --- ########################## */
/* ############################################################################### */
[data-schemapath='root.vitamins'] div.je-panel {
    display: inline-block;
}
[data-schemapath='root.vitamins'] div.je-panel, td, p {
  margin: 1px !important;
  padding: 1px !important;
}
[data-schemapath='root.vitamins'] .form-group {
  margin: 0;
}
[data-schemapath='root.vitamins'] table {
    overflow: visible !important;
}
[data-schemapath='root.vitamins'] .btn-group:empty, .form-group + div:empty {
  display: none;
}
[data-schemapath='root.vitamins'] tr h4, th {
  display: none;
}

/* ############################################################################### */
/* ########################## --- Comestible schema --- ########################## */
/* ############################################################################### */
[data-schemapath*='requirements.components'] div.je-panel, h4 {
    display: inline-block;
}
[data-schemapath*='requirements.components'] div.je-panel, td, p, h4 {
  margin: 1px !important;
  padding: 1px !important;
}
[data-schemapath*='requirements.components'] .form-group {
  margin: 0;
}
[data-schemapath*='requirements.components'] table {
    overflow: visible !important;
}
[data-schemapath*='requirements.components'] .btn-group:empty, .form-group + div:empty {
  display: none;
}
[data-schemapath*='requirements.components'] tr h4, th {
  display: none;
}


/* ########################################################################### */
/* ########################## --- Gunmod schema --- ########################## */
/* ########################################################################### */
[data-schemapath='root.min_skills'] div.je-panel {
    display: inline-block;
}
[data-schemapath='root.min_skills'] div.je-panel, td, p {
  margin: 1px !important;
  padding: 1px !important;
}
[data-schemapath='root.min_skills'] .form-group {
  margin: 0;
}
[data-schemapath='root.min_skills'] table {
    overflow: visible !important;
}
[data-schemapath='root.min_skills'] .btn-group:empty, .form-group + div:empty {
  display: none;
}
[data-schemapath='root.min_skills'] tr h4, th {
  display: none;
}


/* ######################################################################## */
/* ########################## --- Gun schema --- ########################## */
/* ######################################################################## */
[data-schemapath='root.modes'] div.je-panel {
    display: inline-block;
}
[data-schemapath='root.modes'] div.je-panel, td, p {
  margin: 1px !important;
  padding: 1px !important;
}
[data-schemapath='root.modes'] .form-group {
  margin: 0;
}
[data-schemapath='root.modes'] table {
    overflow: visible !important;
}
[data-schemapath='root.modes'] .btn-group:empty, .form-group + div:empty {
  display: none;
}
[data-schemapath='root.modes'] tr h4, th {
  display: none;
}


[data-schemapath='root.valid_mod_locations'] div.je-panel {
    display: inline-block;
}
[data-schemapath='root.valid_mod_locations'] div.je-panel, td, p {
  margin: 1px !important;
  padding: 1px !important;
}
[data-schemapath='root.valid_mod_locations'] .form-group {
  margin: 0;
}
[data-schemapath='root.valid_mod_locations'] table {
    overflow: visible !important;
}
[data-schemapath='root.valid_mod_locations'] .btn-group:empty, .form-group + div:empty {
  display: none;
}
[data-schemapath='root.valid_mod_locations'] tr h4, th {
  display: none;
}


/* ############################################################################ */
/* ########################## --- Monster schema --- ########################## */
/* ############################################################################ */
[data-schemapath='root.starting_ammo'] div.je-panel {
    display: inline-block;
}
[data-schemapath='root.starting_ammo'] div.je-panel, td, p {
  margin: 1px !important;
  padding: 1px !important;
}
[data-schemapath='root.starting_ammo'] .form-group {
  margin: 0;
}
[data-schemapath='root.starting_ammo'] table {
    overflow: visible !important;
}
[data-schemapath='root.starting_ammo'] .btn-group:empty, .form-group + div:empty {
  display: none;
}
[data-schemapath='root.starting_ammo'] tr h4, th {
  display: none;
}


/* ############################################################################ */
/* ########################## --- Monstergroup schema --- ########################## */
/* ############################################################################ */
[data-schemaid='/properties/monsters/items/properties/monster'] {
    width: 300px;
}

/* ############################################################################## */
/* ########################## --- Mutations schema --- ########################## */
/* ############################################################################## */
[data-schemapath='root.encumbrance_always'] div.je-panel {
    display: inline-block;
}
[data-schemapath='root.encumbrance_always'] div.je-panel, td, p {
  margin: 1px !important;
  padding: 1px !important;
}
[data-schemapath='root.encumbrance_always'] .form-group {
  margin: 0;
}
[data-schemapath='root.encumbrance_always'] table {
    overflow: visible !important;
}
[data-schemapath='root.encumbrance_always'] .btn-group:empty, .form-group + div:empty {
  display: none;
}
[data-schemapath='root.encumbrance_always'] tr h4, th {
  display: none;
}

[data-schemapath='root.bodytemp_modifiers'] div.je-panel {
    display: inline-block;
}
[data-schemapath='root.bodytemp_modifiers'] div.je-panel, td, p {
  margin: 1px !important;
  padding: 1px !important;
}
[data-schemapath='root.bodytemp_modifiers'] .form-group {
  margin: 0;
}
[data-schemapath='root.bodytemp_modifiers'] table {
    overflow: visible !important;
}
[data-schemapath='root.bodytemp_modifiers'] .btn-group:empty, .form-group + div:empty {
  display: none;
}
[data-schemapath='root.bodytemp_modifiers'] tr h4, th {
  display: none;
}


/* ################################################################################### */
/* ########################## --- Monster attack schema --- ########################## */
/* ################################################################################### */
[data-schemapath='root.body_parts'] div.je-panel {
  display: inline-block;
}
[data-schemapath='root.body_parts'] div.je-panel, td, p {
  margin: 1px !important;
  padding: 1px !important;
}
[data-schemapath='root.body_parts'] .form-group {
  margin: 0;
}
[data-schemapath='root.body_parts'] .btn-group:empty, .form-group + div:empty {
  display: none;
}
[data-schemapath='root.body_parts'] tr h4, th {
  display: none;
}

[data-schemapath='root.effects'] button.json-editor-btn-collapse {
  display: none;
}
[data-schemapath='root.damage_max_instance'] button.json-editor-btn-collapse {
  display: none;
}


/* ######################################################################### */
/* ########################## --- Tool schema --- ########################## */
/* ######################################################################### */
[data-schemapath='root.qualities'] div.je-panel {
  display: inline-block;
}
[data-schemapath='root.qualities'] div.je-panel, td, p {
  margin: 1px !important;
  padding: 1px !important;
}
[data-schemapath='root.qualities'] .form-group {
  margin: 0;
}
[data-schemapath='root.qualities'] .btn-group:empty, .form-group + div:empty {
  display: none;
}
[data-schemapath='root.qualities'] tr h4, th {
  display: none;
}

/*root.gunmod_data.mode_modifier.0.2*/
/*
[data-schemapath='root.gunmod_data.mode_modifier'] div.form-group {
  width: 110px;
}
[data-schemapath='root.gunmod_data.mode_modifier'] div.selectize-control {
  width: 200px;
}*/
[data-schemapath='root.gunmod_data.mode_modifier'] div.je-panel {
  display: inline-block;
  /*width: fit-content;*/
}
[data-schemapath='root.gunmod_data.mode_modifier'] div.compact {
  display: inline-block;
  /*width: fit-content;*/
}
[data-schemapath='root.gunmod_data.mode_modifier'] div.je-panel, td, p {
  margin: 1px !important;
  padding: 1px !important;
}
[data-schemapath='root.gunmod_data.mode_modifier'] .form-group {
  margin: 0;
}
[data-schemapath='root.gunmod_data.mode_modifier'] .btn-group:empty, .form-group + div:empty {
  display: none;
}
/*
[data-schemapath='root.gunmod_data.mode_modifier'] tr h4, th {
  display: none;
}*/





/* ######################################################################## */
/* ########################## --- Toolmod schema --- ########################## */
/* ######################################################################## */
[data-schemapath='root.magazine_adaptor'] div.je-panel {
    display: inline-block;
}
[data-schemapath='root.magazine_adaptor'] div.je-panel, td, p {
  margin: 1px !important;
  padding: 1px !important;
}
[data-schemapath='root.magazine_adaptor'] .form-group {
  margin: 0;
}
[data-schemapath='root.magazine_adaptor'] table {
    overflow: visible !important;
}
[data-schemapath='root.magazine_adaptor'] .btn-group:empty, .form-group + div:empty {
  display: none;
}
[data-schemapath='root.magazine_adaptor'] tr h4, th {
  display: none;
}


    
    

/* ######################################################################## */
/* ########################## --- Shared properties --- ################### */
/* ######################################################################## */



[data-schemapath='root.magazines'] div.je-panel {
    display: inline-block;
}
[data-schemapath='root.magazines'] div.je-panel, td, p {
  margin: 1px !important;
  padding: 1px !important;
}
[data-schemapath='root.magazines'] .form-group {
  margin: 0;
}
[data-schemapath='root.magazines'] table {
    overflow: visible !important;
}
[data-schemapath='root.magazines'] .btn-group:empty, .form-group + div:empty {
  display: none;
}
[data-schemapath='root.magazines'] tr h4, th {
  display: none;
}
[data-schemapath='root.magazines'] div.je-panel > div > div {
    display: inline-block;
    vertical-align: middle;
    min-width: 200px;
}
[data-schemapath='root.magazines'] div.je-panel .selectize-input {
    max-width: 500px;
    white-space: pre-wrap;
}