body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 10px;
}
* {
  margin: 0px;
  padding: 0;
}

div {
  margin: 0 auto;
  /* overflow: auto; */
}

ul {
  list-style-type: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: middle;
}

.editFormList select, .editFormList span {
	float: left;
}

.formtable, .buttonsrow, .buttonsrow td {
  border: 0px solid black;
}

.buttonsrow td {
  padding-bottom: 20px;
}

th, td {
  padding: 2px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}


/* general */
div.editronContainer{
  padding-top: 40px;
  padding-left: 300px;
  padding-right: 300px;
  height: 650px;
  overflow-y: auto;
}

div.contentContainer {
  overflow: auto;
  height: 650px;
  width: 1260px;
  display: inline-block;
  padding: 10px;
}
div.mainContent {
    height: 710px;
}

.tabledynamic_line, .tablespeaker_effect, .tableid {
    margin: 7px;
}
/* end general */

/* id */
.trid {
	background-color:#8cb1df
}
/* end id*/

/* Editron */
.editor {
  color:#fff !important; background-color:#558dd1 !important
}

.editron-container {
  color:#000 !important; background-color:#f6f9fd !important;
  padding: 25px;
}
.editron-container.editron-container--array {
  color:#000 !important; background-color:#f6f9fd !important;
  padding: 0px;
}

.editron-container__child.editron-container__child--array-item, .editron-item{
  color:#000 !important; background-color:#8cb1df !important;
}

.editron-container__child.editron-container__child--array-item .editron-value{
  color:#000 !important; background-color:#8cb1df !important;
}

.editron-container__header {
  color:#000 !important; background-color:#c5d8ef !important
}

.editron-container__children {
  color:#000 !important; background-color:#8cb1df !important
}

.editron-container.editron-container--array .editron-container__children {
  color:#000 !important; background-color:#e2ecf7 !important;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.editron-container.editron-container--array .editron-container__children label{
  /*display: none;*/
}

.editron-value {
  color:#000 !important; background-color:#e2ecf7 !important
}

.mmf-form--input label.mmf-label {
  top: -6px;
  font-size: 1em;
}

/* end Editron */




/* dynamic line */
.tddynamic_line {
    padding-top: 7px;
    padding-bottom: 7px;
}


.trdynamic_line, .trtype {
	background-color:#a9c5e7
}

.trnpc_has_var, .tru_has_var, .trnpc_has_effect, .tru_male, .tru_has_any_trait, .tru_add_var {
    color:#000 !important; 
	background-color:#f6f9fd !important
}

.trcontext {
    color:#000 !important; 
	background-color:#a9c5e7 !important
}

.trvalue {
    color:#000 !important; 
	background-color:#e2ecf7 !important
}

.tryes {
    color:#000 !important; 
	background-color:#8cb1df !important
}

.trno {
    color:#fff !important; 
	background-color:#558dd1 !important
}
/* end dynamic line */

/* start conditions true */
.conditiontrue {
    color:#000 !important; 
	background-color:#a9c5e7 !important;
    padding-left: 3px;
    padding-right: 3px;
    margin: 3px;
    border-width: 3px;
    border-color: #3c7bc9;
    border-style: solid;
}
.conditionsTrueContainer {
    color:#fff !important; 
	background-color:#3c7bc9 !important;
    padding: 3px;
    line-height: 27px;
}
/* end conditions true */

/* responses */
.tableresponses > tbody > tr > td {
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
}

.trresponses {
    border: none;
	background-color: #8cb1df;
}

.tableresponses {
    border: none;
}

.trtext {
    color:#000 !important; 
	background-color:#f6f9fd !important
}

.trcondition {
    color:#000 !important; 
	background-color:#c5d8ef !important;
    border: none;
}

.tablecondition {
    border: none;
}

.tdcondition {
    padding: 0px;
    border: none;
}

.trand, .trnot {
    border: none;
}

.tableand, .tablenot {
    border: none;
}

.tdnot {
    border-width: thin;
    border-color: black;
    border-style: solid;
}

.trtopic {
    color:#000 !important; 
	background-color:#a9c5e7 !important
}

.treffect {
    color:#000 !important; 
	background-color:#e2ecf7 !important
}

.tropinion, .trmod {
    color:#000 !important; 
	background-color:#8cb1df !important
}

.trswitch {
    color:#fff !important; 
	background-color:#558dd1 !important
}

.trtrial {
    color:#fff !important; 
	background-color:#3c7bc9 !important
}

.trtrial .type, .trtrial .difficulty, .trtrial table{
    color:#000 !important; 
	background-color:#a9c5e7 !important;
	width: 100%
}

.trsuccess table {
	width: 100%
}

.trfailure table {
	width: 100%
}

.trsuccess {
    color:#fff !important; 
	background-color:#2a5c9a !important
}

.trfailure {
    color:#fff !important; 
	background-color:#234d80 !important
}
/* end responses */

.talk_topic {
    margin-top: 15px;
	color:#fff !important; 
	background-color:#3c7bc9 !important
}

/* for the main page with the links to pages */
li img {
  float: left;
  margin: 10px;
  border: 5px solid #fff;

  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

li img:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}
/* end images for front page */

/* for a collapsing tree made from a list */
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}
/* end collapsing tree */



.wrapper {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: 150px 150px 150px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  margin: 40px;
}

.box, .box a {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  text-align: center;
/*   padding: 20px; */
  font-size: 120%;
  cursor: pointer;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}





td.objectListCell {
    padding: 10px;
    margin: 10px;
    border-width: 0px;
}


/*  Define the background color for all the ODD background rows  */
tr.objectListRow:nth-child(odd){ 
  background: #b8d1f3;
}
/*  Define the background color for all the EVEN background rows  */
tr.objectListRow:nth-child(even){
  background: #dae5f4;
}


/*
light to dark blue scheme
.w3-theme-l5 {color:#000 !important; background-color:#f6f9fd !important}
.w3-theme-l4 {color:#000 !important; background-color:#e2ecf7 !important}
.w3-theme-l3 {color:#000 !important; background-color:#c5d8ef !important}
.w3-theme-l2 {color:#000 !important; background-color:#a9c5e7 !important}
.w3-theme-l1 {color:#000 !important; background-color:#8cb1df !important}
.w3-theme-d1 {color:#fff !important; background-color:#558dd1 !important}
.w3-theme-d2 {color:#fff !important; background-color:#3c7bc9 !important}
.w3-theme-d3 {color:#fff !important; background-color:#316cb3 !important}
.w3-theme-d4 {color:#fff !important; background-color:#2a5c9a !important}
.w3-theme-d5 {color:#fff !important; background-color:#234d80 !important}

.w3-theme-light {color:#000 !important; background-color:#f6f9fd !important}
.w3-theme-dark {color:#fff !important; background-color:#234d80 !important}
.w3-theme-action {color:#fff !important; background-color:#234d80 !important}

.w3-theme {color:#fff !important; background-color:#6f9fd8 !important}
.w3-text-theme {color:#6f9fd8 !important}
.w3-border-theme {border-color:#6f9fd8 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#6f9fd8 !important}
.w3-hover-text-theme:hover {color:#6f9fd8 !important}
.w3-hover-border-theme:hover {border-color:#6f9fd8 !important}
*/



